<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874719218742-ta7vt7bqovhko2fi095ceai9aml46oe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874719218742-ta7vt7bqovhko2fi095ceai9aml46oe1</string>
	<key>API_KEY</key>
	<string>AIzaSyCYyeFapAzV1acRa02e7-bMm0CWCu5po64</string>
	<key>GCM_SENDER_ID</key>
	<string>874719218742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tushar.todoeyflutter</string>
	<key>PROJECT_ID</key>
	<string>todoey-12d51</string>
	<key>STORAGE_BUCKET</key>
	<string>todoey-12d51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874719218742:ios:c37f1869c36d81f8dfdc97</string>
	<key>DATABASE_URL</key>
	<string>https://todoey-12d51.firebaseio.com</string>
</dict>
</plist>